<!DOCTYPE html>
<html>
<head>
  <title>Rollback</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rollback/application", media: "all" %>
  <%= javascript_include_tag "rollback/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
